body {
	background-color: #6F4E37;
	font-size: 1.6rem;
}

.container-fluid {
	background-color: #6F4E37;
}

.cont-body {
	color: #E3DCCC;
}

.nav-color {
	background-color: #929487;
	border:1px solid #6F4E37;
}

.badge {
	background-color: #222;
	border: 1px solid #B5AFA2;
}
 
