<template name = "layout">
	<div class="container-fluid">
	{{#if currentUser}}
		<header>
			 {{> nav}}
		</header>

	{{/if}}
</div>

<div class = "cont-body container-fluid">
    {{> yield}}
</div>
</template>


<template name = "nav">
  <nav class="navbar navbar-inverse" role ="navigation"> 
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/kiosk"><p>Mini-Market</p></a>
    </div><!-- navbar-header -->
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='kiosk'}}">Kiosk</a></li>
        <li><a href="{{pathFor route='buy'}}">Buy</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class = "logout"><a href="#">Hello{{currentUser}}</a></li>
      </ul>
    </div>     
  </nav>
</template>