.add-item-form {
	border: 1px Solid blue;
	padding: 7px;
	border-radius: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.selected {
	background-color: blue;
}

.imageView img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.imageView div{
    height: 220px;
    padding-bottom: 20px;
    margin: 0 32px 0 5px;
    border: 8px solid #ecf0f1;
}

