.add-space {
	padding-left: 15px;
}

.my-items-buy{
 background-image: url("img/tabletop.jpg");
 background-repeat: repeat;
 height: 1500px;
 max-height: 100%;
 border-radius: 5px;
 color: #F5ECDB;
}

.space-item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: #6F4E37;
}

.space-item {
    width: 180px;
    height: 220px;
    margin: 75px 30px 135px 0;
    background-color: #6F4E37;
    border-radius:5px; 
    color: #D5CEBF;
}

.space-item ul{
    border-radius:5px;
    background-color: #6F4E37;
    border: 1px solid #D5CEBF;
}